{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}
{% block main %}
    <h1>Формы (POST)</h1>
    <div>Тема лабораторной - post и сессии. Список сделанных страниц:</div>
    <ol>
        <li><a href="/lab4/div_form">деление</a></li>
        <li><a href="/lab4/add_form">Сложение</a></li>
        <li><a href="/lab4/sub_form">Вычитание</a></li>
        <li><a href="/lab4/mul_form">Умножение</a></li>
        <li><a href="/lab4/pow_form">Возведение в степень</a></li>
        <li><a href="/lab4/tree">счетчик деревьев</a></li>
        <li><a href="/lab4/login">авторизация</a></li>
        <li><a href="/lab4/fridge">холодильник</a></li>
        <li><a href="/lab4/ordergrain">заказ зерна</a></li>


    </ol>
{% endblock %}