{% extends "base.html" %}
{% extends "base.html" %}

{% block lab %}Список пользователей{% endblock %}
{% block main %}
    <h1>Все зарегистрированные пользователи</h1>
    
    {% if users %}
        <ul>
            {% for user in users %}
                <li>{{ user['login'] }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Нет зарегистрированных пользователей.</p>
    {% endif %}
    <a href="/lab5/">Вернуться к базе знаний</a>
{% endblock %}
{% block lab %}Список пользователей{% endblock %}
{% block main %}
    <h1>Все зарегистрированные пользователи</h1>
    
    {% if users %}
        <ul>
            {% for user in users %}
                <li>{{ user['login'] }}</li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Нет зарегистрированных пользователей.</p>
    {% endif %}
    <a href="/lab5/">Вернуться к базе знаний</a>
{% endblock %}